In [88]:
using CSV
using DataFrames
using PairPlots
using CairoMakie
using StatsPlots
using Chain
using Statistics
gr()

Plots.GRBackend()

In [89]:
df = DataFrame(CSV.File("Adult.csv"))
nrows(d

5×15 DataFrame
 Row │ age    workclass  fnlwgt  education     education-num  marital-status   ⋯
     │ Int64  String31   Int64   String15      Int64          String31         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    25  Private    226802  11th                      7  Never-married    ⋯
   2 │    38  Private     89814  HS-grad                   9  Married-civ-spou
   3 │    28  Local-gov  336951  Assoc-acdm               12  Married-civ-spou
   4 │    44  Private    160323  Some-college             10  Married-civ-spou
   5 │    18  ?          103497  Some-college             10  Never-married    ⋯
                                                              10 columns omitted

In [9]:
first(stack(df, [:"marital-status:"]))

DataFrameRow
 Row │ age    workclass  fnlwgt:  education:  education-num:  occupation:   re ⋯
     │ Int64  String31   Int64    String15    Int64           String31      St ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    39  State-gov    77516  Bachelors               13  Adm-clerical  No ⋯
                                                              10 columns omitted

In [10]:
describe(df)

15×7 DataFrame
 Row │ variable         mean       min                 median    max           ⋯
     │ Symbol           Union…     Any                 Union…    Any           ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ age              38.5816    17                  37.0      90            ⋯
   2 │ workclass                   ?                             Without-pay
   3 │ fnlwgt:          1.89778e5  12285               178356.0  1484705
   4 │ education:                  10th                          Some-college
   5 │ education-num:   10.0807    1                   10.0      16            ⋯
   6 │ marital-status:             Divorced                      Widowed
   7 │ occupation:                 ?                             Transport-mov
   8 │ relationship:               Husband                       Wife
   9 │ race:                       Amer-Indian-Eskimo            White         ⋯
  10 │ sex:                        Female                        Male
  11 │ capital-gain:    1077.65    0                   0.0       99999
  12 │ capital-loss:    87.3038    0                   0.0       4356
  13 │ hours-per-week:  40.4375    1                   40.0      99            ⋯
  14 │ native-country:             ?                             Yugoslavia
  15 │ class                       <=50K                         >50K
                                                               3 columns omitted

In [11]:
first(subset(df, :"sex:" => x -> x .== "Female"),5)

5×15 DataFrame
 Row │ age    workclass  fnlwgt:  education:  education-num:  marital-status:  ⋯
     │ Int64  String31   Int64    String15    Int64           String31         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    28  Private     338409  Bachelors               13  Married-civ-spou ⋯
   2 │    37  Private     284582  Masters                 14  Married-civ-spou
   3 │    49  Private     160187  9th                      5  Married-spouse-a
   4 │    31  Private      45781  Masters                 14  Never-married
   5 │    23  Private     122272  Bachelors               13  Never-married    ⋯
                                                              10 columns omitted

In [13]:
temp = df.workclass

32561-element PooledArrays.PooledVector{String31, UInt32, Vector{UInt32}}:
 "State-gov"
 "Self-emp-not-inc"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"
 "Self-emp-not-inc"
 "Private"
 "Private"
 "Private"
 "State-gov"
 "Private"
 ⋮
 "State-gov"
 "Self-emp-not-inc"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"
 "Self-emp-inc"

In [16]:
temp[1] = "N/A"

"N/A"

In [17]:
first(df,1)

1×15 DataFrame
 Row │ age    workclass  fnlwgt:  education:  education-num:  marital-status:  ⋯
     │ Int64  String31   Int64    String15    Int64           String31         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    39  N/A          77516  Bachelors               13  Never-married    ⋯
                                                               9 columns omitted

In [18]:
names(df, AbstractString)

9-element Vector{String}:
 "workclass"
 "education:"
 "marital-status:"
 "occupation:"
 "relationship:"
 "race:"
 "sex:"
 "native-country:"
 "class"

In [19]:
propertynames(df)

15-element Vector{Symbol}:
 :age
 :workclass
 Symbol("fnlwgt:")
 Symbol("education:")
 Symbol("education-num:")
 Symbol("marital-status:")
 Symbol("occupation:")
 Symbol("relationship:")
 Symbol("race:")
 Symbol("sex:")
 Symbol("capital-gain:")
 Symbol("capital-loss:")
 Symbol("hours-per-week:")
 Symbol("native-country:")
 :class

In [21]:
eltype.(eachcol(df))

15-element Vector{DataType}:
 Int64
 String31
 Int64
 String15
 Int64
 String31
 String31
 String15
 String31
 String7
 Int64
 Int64
 Int64
 String31
 String7

In [22]:
size(df)

(32561, 15)

In [23]:
nrow(df)

32561

In [24]:
ncol(df)

15

In [27]:
describe(df, cols=[1,3,5,7])

4×7 DataFrame
 Row │ variable        mean       min    median    max               nmissing  ⋯
     │ Symbol          Union…     Any    Union…    Any               Int64     ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ age             38.5816    17     37.0      90                       0  ⋯
   2 │ fnlwgt:         1.89778e5  12285  178356.0  1484705                  0
   3 │ education-num:  10.0807    1      10.0      16                       0
   4 │ occupation:                ?                Transport-moving         0
                                                                1 column omitted

In [30]:
mean(df.age)

38.58164675532078

In [32]:
median(df.age)

37.0

In [33]:
last(df,5)

5×15 DataFrame
 Row │ age    workclass     fnlwgt:  education:  education-num:  marital-statu ⋯
     │ Int64  String31      Int64    String15    Int64           String31      ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    27  Private        257302  Assoc-acdm              12  Married-civ-s ⋯
   2 │    40  Private        154374  HS-grad                  9  Married-civ-s
   3 │    58  Private        151910  HS-grad                  9  Widowed
   4 │    22  Private        201490  HS-grad                  9  Never-married
   5 │    52  Self-emp-inc   287927  HS-grad                  9  Married-civ-s ⋯
                                                              10 columns omitted

In [40]:
df[1:5, [:age,:class]]

5×2 DataFrame
 Row │ age    class
     │ Int64  String7
─────┼────────────────
   1 │    39  <=50K
   2 │    50  <=50K
   3 │    38  <=50K
   4 │    53  <=50K
   5 │    28  <=50K

In [41]:
df[1:5,:]

5×15 DataFrame
 Row │ age    workclass         fnlwgt:  education:  education-num:  marital-s ⋯
     │ Int64  String31          Int64    String15    Int64           String31  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    39  N/A                 77516  Bachelors               13  Never-mar ⋯
   2 │    50  Self-emp-not-inc    83311  Bachelors               13  Married-c
   3 │    38  Private            215646  HS-grad                  9  Divorced
   4 │    53  Private            234721  11th                     7  Married-c
   5 │    28  Private            338409  Bachelors               13  Married-c ⋯
                                                              10 columns omitted

In [42]:
df[[1,6,12], :]

3×15 DataFrame
 Row │ age    workclass  fnlwgt:  education:  education-num:  marital-status:  ⋯
     │ Int64  String31   Int64    String15    Int64           String31         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    39  N/A          77516  Bachelors               13  Never-married    ⋯
   2 │    37  Private     284582  Masters                 14  Married-civ-spou
   3 │    30  State-gov   141297  Bachelors               13  Married-civ-spou
                                                              10 columns omitted

In [ ]:
df[:, [:age,:class]]

In [48]:
df[!, :age]

32561-element Vector{Int64}:
 39
 50
 38
 53
 28
 37
 49
 52
 31
 42
 37
 30
 23
  ⋮
 43
 43
 32
 43
 32
 53
 22
 27
 40
 58
 22
 52

In [81]:
cols = ncol(df)
rows = nrow(df)
for r = 1:rows
    df[r,:"education:"] = df[r,:"education:"] == "11th" ? "Elevensies" : df[r,:"education:"]
end
#println("--------")
#props = propertynames(df)
#for p in props
#    print(p)
#    print(df[1,p])
#end

In [82]:
first(df,5)

5×15 DataFrame
 Row │ age    workclass         fnlwgt:  education:  education-num:  marital-s ⋯
     │ Int64  String31          Int64    String15    Int64           String31  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    39  N/A                 77516  Bachelors               13  Never-mar ⋯
   2 │    50  Self-emp-not-inc    83311  Bachelors               13  Married-c
   3 │    38  Private            215646  HS-grad                  9  Divorced
   4 │    53  Private            234721  Elevensies               7  Married-c
   5 │    28  Private            338409  Bachelors               13  Married-c ⋯
                                                              10 columns omitted

In [ ]:
view(df, :, 2:5)

In [59]:
@view df[end:-1:1, [1, 4]]

32561×2 SubDataFrame
   Row │ age    education:
       │ Int64  String15
───────┼─────────────────────
     1 │    52  HS-grad
     2 │    22  HS-grad
     3 │    58  HS-grad
     4 │    40  HS-grad
     5 │    27  Assoc-acdm
     6 │    22  Some-college
     7 │    53  Masters
     8 │    32  Masters
     9 │    43  Assoc-voc
    10 │    32  10th
    11 │    43  Some-college
   ⋮   │   ⋮         ⋮
 32552 │    42  Bachelors
 32553 │    31  Masters
 32554 │    52  HS-grad
 32555 │    49  9th
 32556 │    37  Masters
 32557 │    28  Bachelors
 32558 │    53  11th
 32559 │    38  HS-grad
 32560 │    50  Bachelors
 32561 │    39  Bachelors
           32540 rows omitted

In [83]:
function dumb(x)
    print(x)
    return x
end

dumb (generic function with 1 method)

In [ ]:
dumb.(df[:,:age])